[submodule "script/doubi"]
	path = script/doubi
	url = https://github.com/ToyoDAdoubi/doubi.git
[submodule "template/gitattributes"]
	path = template/gitattributes
	url = https://github.com/alexkaratarakis/gitattributes.git
[submodule "template/gitignore"]
	path = template/gitignore
	url = https://github.com/github/gitignore.git
