[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	longpaths = true
	autocrlf = true
	safecrlf = warn
	editor = code --wait
[user]
	name = lmly9193
	email = 15520160+lmly9193@users.noreply.github.com
	signingKey = ""
[init]
	defaultBranch = main
[gpg]
	program = gpg
[commit]
	gpgSign = false
	cleanup = strip
	template = "%USERPROFILE%\\.gitmessage.txt"
[tag]
	forceSignAnnotated = false
